<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bupt.lams.mapper.AssetMapper">
    <resultMap id="BaseResultMap" type="com.bupt.lams.model.Asset">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="brand" property="brand"/>
        <result column="price" property="price"/>
        <result column="charger" property="charger"/>
        <result column="charger_email" property="chargerEmail"/>
        <result column="charger_phone" property="chargerPhone"/>
        <result column="adv" property="adv" typeHandler="com.bupt.lams.mybatis.JsonToObjectTypeHandler"/>
        <result column="readyDate" property="readyDate"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, type, brand, price, charger, charger_email, charger_phone, adv, readyDate, updateTime
  </sql>
    <update id="updateAsset" parameterType="com.bupt.lams.model.Asset">
        update asset
        set
        <trim suffixOverrides=",">
            <if test="type != null">
                type = #{type},
            </if>
            <if test="brand != null">
                brand = #{brand},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="charger != null">
                charger = #{charger},
            </if>
            <if test="chargerEmail != null">
                charger_email = #{chargerEmail},
            </if>
            <if test="chargerPhone != null">
                charger_phone = #{chargerPhone},
            </if>
            <if test="adv != null">
                adv = #{adv, typeHandler=com.bupt.lams.mybatis.JsonToObjectTypeHandler},
            </if>
            <if test="readyDate != null">
                readyDate = #{readyDate},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime}
            </if>
        </trim>
        <where>
            id = #{id}
        </where>
    </update>
    <insert id="insertSelective" parameterType="com.bupt.lams.model.Asset" useGeneratedKeys="true" keyProperty="id">
        insert into asset
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">
                type,
            </if>
            <if test="brand != null">
                brand,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="charger != null">
                charger,
            </if>
            <if test="chargerEmail != null">
                charger_email,
            </if>
            <if test="chargerPhone != null">
                charger_phone,
            </if>
            <if test="adv != null">
                adv,
            </if>
            <if test="readyDate != null">
                readyDate,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">
                #{type},
            </if>
            <if test="brand != null">
                #{brand},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="charger != null">
                #{charger},
            </if>
            <if test="chargerEmail != null">
                #{chargerEmail},
            </if>
            <if test="chargerPhone != null">
                #{chargerPhone},
            </if>
            <if test="adv != null">
                #{adv, typeHandler=com.bupt.lams.mybatis.JsonToObjectTypeHandler},
            </if>
            <if test="readyDate != null">
                #{readyDate},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>
    <select id="getAssetById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from asset
        where id = #{aid}
    </select>
</mapper>