<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bupt.lams.mapper.LamsUserMapper">
    <resultMap id="BaseResultMap" type="com.bupt.lams.model.LamsUser">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="CHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="UserWithRoles" type="com.bupt.lams.model.LamsUser" extends="BaseResultMap">
        <collection property="roles" ofType="com.bupt.lams.model.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="nameZh"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, phone, enabled, username, password, remark
  </sql>
    <select id="getAllUsersExceptCurrent" resultMap="BaseResultMap">
        select * from lams_user where id !=#{id};
    </select>
    <select id="getRolesById" resultType="com.bupt.lams.model.Role">
    select r.* from role r,lams_user_role lrr where lrr.`rid`=r.`id` and lrr.`uid`=#{id}
  </select>
    <select id="getUserIdsByPage" resultType="java.lang.Integer">
        select u.id
        from lams_user u
        where u.`id`!=#{uid}
        <if test="keywords!=null">
            and u.name like concat('%',#{keywords},'%')
        </if>
        <if test="page !=null and size!=null">
            limit #{page},#{size}
        </if>
    </select>
    <select id="getUsersByIds" resultMap="UserWithRoles">
        select u.*,
        r.`id` as rid,
        r.`name` as rname,
        r.`nameZh` as rnameZh
        from lams_user u
        left join lams_user_role lrr
        on u.`id`=lrr.`uid`
        left join role r
        on lrr.`rid`=r.`id`
        where
        <if test="ids != null">
            <choose>
                <when test="ids.size>0">
                    u.id in
                    <foreach collection="ids" item="id" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
                </when>
                <otherwise>
                    o.id=-1
                </otherwise>
            </choose>
        </if>
        order by u.id
    </select>
    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from lams_user u
        where u.`id`!=#{uid}
    </select>
    <select id="loadUserByUsername" resultMap="BaseResultMap">
    select * from lams_user where username=#{username}
  </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from lams_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lams_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.bupt.lams.model.LamsUser">
        insert into lams_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name !=null and name!=''">
                name,
            </if>
            <if test="phone !=null and phone!=''">
                phone,
            </if>
            <if test="username !=null and username!=''">
                username,
            </if>
            <if test="password !=null and password!=''">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name !=null and name!=''">
                #{name},
            </if>
            <if test="phone !=null and phone!=''">
                #{phone},
            </if>
            <if test="username !=null and username!=''">
                #{username},
            </if>
            <if test="password !=null and password!=''">
                #{password},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bupt.lams.model.LamsUser">
        update lams_user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updatePasswd">
        update lams_user set password = #{encodePass} where id=#{uid};
    </update>
</mapper>