<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bupt.lams.mapper.OrderWorkflowMapper">
    <resultMap id="BaseResultMap" type="com.bupt.lams.model.OrderWorkflow">
        <id column="id" property="id"/>
        <result column="oid" property="oid"/>
        <result column="workflow_inst_id" property="workflowInstId"/>
        <result column="workflow_start_time" property="workflowStartTime"/>
    </resultMap>
    <insert id="insertSelective" parameterType="com.bupt.lams.model.OrderWorkflow" useGeneratedKeys="true"
            keyProperty="id">
        insert into order_workflow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="oid != null">
                oid,
            </if>
            <if test="workflowInstId != null">
                workflow_inst_id,
            </if>
            workflow_start_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="oid != null">
                #{oid},
            </if>
            <if test="workflowInstId != null">
                #{workflowInstId},
            </if>
            NOW()
        </trim>
    </insert>
    <select id="getOrderWorkflowByOid" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select ow.*
        from order_workflow ow
        where oid = #{oid}
        order by id desc
        limit 0,1;
    </select>
</mapper>