<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bupt.lams.mapper.OrderAssetMapper">
    <resultMap id="BaseResultMap" type="com.bupt.lams.model.OrderAsset">
        <id column="id" property="id"/>
        <result column="oid" property="oid"/>
        <result column="aid" property="aid"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>
    <insert id="insertSelective" parameterType="com.bupt.lams.model.OrderAsset" useGeneratedKeys="true"
            keyProperty="id">
        insert into order_asset
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="oid != null">
                oid,
            </if>
            <if test="aid != null">
                aid,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="oid != null">
                #{oid},
            </if>
            <if test="aid != null">
                #{aid},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>
    <select id="getAidByOid" parameterType="java.lang.Long" resultType="java.lang.Long">
        select aid
        from order_asset
        where oid = #{oid}
    </select>
    <select id="getLatestOidByAid" parameterType="java.lang.Long" resultType="java.lang.Long">
        select oid
        from order_asset
        where aid = #{aid}
        order by oid desc
        limit 1
    </select>
    <delete id="deleteManyByOids" parameterType="list">
        delete
        from `order_asset`
        where
        oid in
        <foreach collection="list" close=")" open="(" separator="," item="item">
            #{item}
        </foreach>
    </delete>
</mapper>