<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bupt.lams.mapper.PurchasePicsMapper">
    <resultMap id="BaseResultMap" type="com.bupt.lams.model.PurchasePic">
        <id column="id" property="id"/>
        <result column="poid" property="poid"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="createTime" property="createTime"/>
    </resultMap>
    <delete id="deletePurchasePicById" parameterType="java.lang.Long">
        delete from purchase_pics
        where
        id = #{id}
    </delete>
    <insert id="insertPurchasePics" parameterType="com.bupt.lams.model.PurchasePic">
        INSERT INTO purchase_pics (
            `poid`,
            `name`,
            `url`,
            `createtime`
            )
        VALUES
            (
            #{poid},
            #{name},
            #{url},
            now()
            )
    </insert>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select pp.*
        from purchase_pics pp
        where
        id = #{id}
    </select>
</mapper>